body {
  padding: 5%;
  margin: 0 auto;
  text-align: center;
  font-size: 23px;
  color: white;
  background: black;
}

.main {
  max-width: 10%;
}

a,
a:visited  {
  color: goldenrod;
}

.dark {
  background: darkgray;
}

.button > .over {
  text-decoration:overline;
  display: inline-block;
  position:relative;
  top: 3px;
  left: -4px;
}

.calculator {
  display: inline-block;
  background: white;
  margin: 1% 0;
  color: black;
  border-radius: 5%;
  border: 3px solid black;
  box-shadow: 5px 5px 5px 3px gray;
  
}

.calculator button {
  font-size: x-large;
  width: 4em;
  min-height: 3em;
  margin: 0.8%;
  border-radius: 25%;
  border: 1px solid black;
  box-shadow: 3px 3px 3px gray;
}

.calculator button:hover,
#clear:hover,
#backspace:hover {
  background: gold;
  color: white;
  transform: scale(0.9);
  border-radius: 20%;
}

.calculator button:focus,
#clear:focus,
#backspace:focus {
  outline: none;
}

.button:active,
.button-active {
  background: gold;
  color: white;
  transform: scale(0.9);
}

 #screen{
  background: darkgray;
  border: 3px solid black;
  box-shadow: 3px 3px 3px 3px gray;
  border-radius: 5%;
  width: 80%;
  height: 120px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  text-align: right;
  overflow: auto;
  overflow-wrap: break-word;
  font-size: 60px;

}

    


#clean {
  background: salmon;
}


.calculator__row1,
.calculator__row2,
.calculator__row3,
.calculator__row4,
.calculator__row5 {
  display: flex;
  margin: 0 auto;
     max-width: 80%;
  justify-content: space-around;
  align-items: center;
  font-family: 'Libre Barcode 128 Text', cursive;
}

.calculator__row5 {
  margin-bottom: 3%;
} 

.footer {
  /* margin-top: 2%;
  font-size: medium; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}